[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tika = "*"
pyyaml = "*"
pytest = "*"
requests = "*"
google = "*"
beautifulsoup4 = "*"
lxml = "*"
requests-html = "*"
selenium = "*"

[requires]
python_version = "3.8"
